*{
margin: 0;
padding: 0;
}
img {
    width: 100%;
}
figure {
    margin: 0;
}
h1 {
    font-family: 'PT Serif', serif;
    font-size: 2.25em;
    color: #000000;
}

h2,
p {
    font-family: 'Poppins', sans-serif;
}
.card1 {

    display:grid;
    grid-template-columns: repeat(2, 138.71px);
    grid-template-rows: repeat(10, 63px);



}