*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    max-width: 90%;
    display:flex;
    flex-flow: column;
}
header{
    display:flex;
    margin: 35px 0 38px 0;
    align-items: center;

    h1{
        font-size: 36px;
        font-weight:700;
        font-family: 'PT Serif', serif;
        display:flex;
        flex-flow: column ;
        align-items: flex-end;
        justify-content: center;
    }
}
.container{
    h2{
    font-weight: 600;
    font-size:1.125em;
    text-transform: uppercase;
}
p {
    font-weight: 400;
    font-size:0.875em;
}
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2em;
    margin-bottom: 32px;
}
.card:nth-child(2),
.card:nth-child(4),
.card:nth-child(6){
    margin-top:70px ;
}
.person {
    display:flex;
}
.title{
    font-size: .625em;
    margin:0;
    font-family: 'PT Serif';
    text-transform: uppercase;
    font-weight: 400;
    writing-mode: vertical-rl;
}
.name {
    font-weight: 600;
}

@media (min-width:1024px) {
    html{
        max-width:1024px;
    }
    header {
        display: flex;
        align-items: center;
      }
    .gallery {
        grid-template-columns: repeat(3,1fr);
    }
}